html {
    margin: 0 auto;
    padding: 0;
}

.rubik-glitch-regular {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
}

.barrio-regular {
  font-family: "Barrio", system-ui;
  font-weight: 400;
  font-style: normal;
}

.medievalsharp-regular {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}


a {
    text-decoration: none;
}

#sovintube {
    margin: 0 auto;
    padding: 0;
    font-family: "Rubik Glitch";
    color: black;
    font-size: 4rem;
    padding-top: 0.5rem;
    margin-top: 1rem;
    width: 22.5rem;
}

#navbar {
    margin: 0 auto;
    width: 95%;
    height: 6rem;
    box-shadow: 0px 0px 20px gray;
    border-radius: 25px;
}

.watchVideoContainer {
    display: flex;
    justify-content: center;
}

#videosDisplayDiv {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.videoTitle {
    text-align: center;
    width: 391px;
    font-family: "MedievalSharp";
    color: black;
}

.watchVideo {
    padding-top: 5rem;
}

.watchVideoTitle {
    font-size: 2rem;
    font-family: "Barrio";
}

iframe {
    border-radius: 25px;
    box-shadow: 0px 0px 20px gray;
}

#neurohemmoragePrvw1 {
    box-shadow: 0px 0px 20px gray;
    border-radius: 25px;
    transition: transform .2s; /* Animation */
}

#neurohemmoragePrvw1:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#shimmerFluke {
    box-shadow: 0px 0px 20px gray;
    border-radius: 25px;
    transition: transform .2s; /* Animation */
}

#shimmerFluke:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


img {
    border-radius: 25px 25px 0px 0px;
}